<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titian.core.dao.ClassPhotoMapper" >
    <cache/>
  <resultMap id="BaseResultMap" type="com.titian.core.domain.ClassPhoto" >
    <id column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="album_name" property="albumName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="album_desc" property="albumDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    album_id, album_name, org_id, album_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_class_photo
    where album_id = #{albumId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_class_photo
    where album_id = #{albumId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.titian.core.domain.ClassPhoto" >
    insert into t_class_photo (album_id, album_name, org_id, 
      album_desc)
    values (#{albumId,jdbcType=INTEGER}, #{albumName,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
      #{albumDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.titian.core.domain.ClassPhoto" >
    insert into t_class_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="albumName != null" >
        album_name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="albumDesc != null" >
        album_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="albumName != null" >
        #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="albumDesc != null" >
        #{albumDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.titian.core.domain.ClassPhoto" >
    update t_class_photo
    <set >
      <if test="albumName != null" >
        album_name = #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="albumDesc != null" >
        album_desc = #{albumDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where album_id = #{albumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.titian.core.domain.ClassPhoto" >
    update t_class_photo
    set album_name = #{albumName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      album_desc = #{albumDesc,jdbcType=VARCHAR}
    where album_id = #{albumId,jdbcType=INTEGER}
  </update>
</mapper>