<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titian.core.dao.ContentMapper" >
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
  <resultMap id="BaseResultMap" type="com.titian.core.domain.Content" >
    <id column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="content_title" property="contentTitle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="content_type" property="contentType" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="source_url" property="sourceUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    content_id, content_title, create_time, author, publisher, editor, publish_time, 
    content_type, status, content, link_url, source_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_content
    where content_id = #{contentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM t_content
    WHERE content_id = #{contentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.titian.core.domain.Content" >
    INSERT INTO t_content (content_id, content_title, create_time,
      author, publisher, editor, 
      publish_time, content_type, status, 
      content, link_url, source_url
      )
    VALUES (#{contentId,jdbcType=INTEGER}, #{contentTitle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{author,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{contentType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{content,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{sourceUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.titian.core.domain.Content" >
    insert into t_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="contentTitle != null" >
        content_title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="sourceUrl != null" >
        source_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="contentTitle != null" >
        #{contentTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrl != null" >
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.titian.core.domain.Content" >
    update t_content
    <set >
      <if test="contentTitle != null" >
        content_title = #{contentTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrl != null" >
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.titian.core.domain.Content" >
    UPDATE t_content
    SET content_title = #{contentTitle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR},
      editor = #{editor,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      content_type = #{contentType,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      content = #{content,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      source_url = #{sourceUrl,jdbcType=VARCHAR}
    WHERE content_id = #{contentId,jdbcType=INTEGER}
  </update>
</mapper>