<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titian.core.dao.FunctionMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.titian.core.domain.Function">
        <id column="function_id" property="functionId" jdbcType="INTEGER"/>
        <result column="function_name" property="functionName" jdbcType="VARCHAR"/>
        <result column="function_desc" property="functionDesc" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="is_menu" property="isMenu" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    function_id, function_name, function_desc, create_time, url, parent_id, is_menu
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_function
        where function_id = #{functionId,jdbcType=INTEGER}
    </select>

    <select id="listAllFunction" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_function
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_function
    where function_id = #{functionId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.titian.core.domain.Function">
    insert into t_function (function_id, function_name, function_desc, 
      create_time, url, parent_id, 
      is_menu)
    values (#{functionId,jdbcType=INTEGER}, #{functionName,jdbcType=VARCHAR}, #{functionDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{isMenu,jdbcType=CHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.titian.core.domain.Function">
        insert into t_function
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="functionId != null">
                function_id,
            </if>
            <if test="functionName != null">
                function_name,
            </if>
            <if test="functionDesc != null">
                function_desc,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="isMenu != null">
                is_menu,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="functionId != null">
                #{functionId,jdbcType=INTEGER},
            </if>
            <if test="functionName != null">
                #{functionName,jdbcType=VARCHAR},
            </if>
            <if test="functionDesc != null">
                #{functionDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="isMenu != null">
                #{isMenu,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.titian.core.domain.Function">
        update t_function
        <set>
            <if test="functionName != null">
                function_name = #{functionName,jdbcType=VARCHAR},
            </if>
            <if test="functionDesc != null">
                function_desc = #{functionDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="isMenu != null">
                is_menu = #{isMenu,jdbcType=CHAR},
            </if>
        </set>
        where function_id = #{functionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.titian.core.domain.Function">
    update t_function
    set function_name = #{functionName,jdbcType=VARCHAR},
      function_desc = #{functionDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_menu = #{isMenu,jdbcType=CHAR}
    where function_id = #{functionId,jdbcType=INTEGER}
  </update>
</mapper>