<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titian.core.dao.PhotoMapper" >
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
  <resultMap id="BaseResultMap" type="com.titian.core.domain.Photo" >
    <id column="photo_id" property="photoId" jdbcType="INTEGER" />
    <result column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="photo_title" property="photoTitle" jdbcType="VARCHAR" />
    <result column="photo_content" property="photoContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    photo_id, album_id, photo_url, photo_title, photo_content, create_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_photo
    where photo_id = #{photoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM t_photo
    WHERE photo_id = #{photoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.titian.core.domain.Photo" >
    INSERT INTO t_photo (photo_id, album_id, photo_url,
      photo_title, photo_content, create_time, 
      status)
    VALUES (#{photoId,jdbcType=INTEGER}, #{albumId,jdbcType=INTEGER}, #{photoUrl,jdbcType=VARCHAR},
      #{photoTitle,jdbcType=VARCHAR}, #{photoContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.titian.core.domain.Photo" >
    insert into t_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photoId != null" >
        photo_id,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="photoUrl != null" >
        photo_url,
      </if>
      <if test="photoTitle != null" >
        photo_title,
      </if>
      <if test="photoContent != null" >
        photo_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photoId != null" >
        #{photoId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null" >
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="photoTitle != null" >
        #{photoTitle,jdbcType=VARCHAR},
      </if>
      <if test="photoContent != null" >
        #{photoContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.titian.core.domain.Photo" >
    update t_photo
    <set >
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null" >
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="photoTitle != null" >
        photo_title = #{photoTitle,jdbcType=VARCHAR},
      </if>
      <if test="photoContent != null" >
        photo_content = #{photoContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where photo_id = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.titian.core.domain.Photo" >
    UPDATE t_photo
    SET album_id = #{albumId,jdbcType=INTEGER},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      photo_title = #{photoTitle,jdbcType=VARCHAR},
      photo_content = #{photoContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    WHERE photo_id = #{photoId,jdbcType=INTEGER}
  </update>
</mapper>