<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titian.core.dao.SubjectMapper" >
    <cache/>
  <resultMap id="BaseResultMap" type="com.titian.core.domain.Subject" >
    <id column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="subject_type" property="subjectType" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    subject_id, site_id, template_id, subject_name, parent_id, subject_type, status, 
    create_time, business_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_subject
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_subject
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.titian.core.domain.Subject" >
    insert into t_subject (subject_id, site_id, template_id, 
      subject_name, parent_id, subject_type, 
      status, create_time, business_type
      )
    values (#{subjectId,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER}, 
      #{subjectName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{subjectType,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{businessType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.titian.core.domain.Subject" >
    insert into t_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="subjectName != null" >
        subject_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.titian.core.domain.Subject" >
    update t_subject
    <set >
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
    </set>
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.titian.core.domain.Subject" >
    update t_subject
    set site_id = #{siteId,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=INTEGER},
      subject_name = #{subjectName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      subject_type = #{subjectType,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      business_type = #{businessType,jdbcType=VARCHAR}
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </update>
</mapper>