<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titian.core.dao.TemplateMapper" >
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
  <resultMap id="BaseResultMap" type="com.titian.core.domain.Template" >
    <id column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="模版类型" property="模版类型" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    template_id, template_name, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_template
    where template_id = #{templateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM t_template
    WHERE template_id = #{templateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.titian.core.domain.Template" >
    INSERT INTO t_template (template_id, template_name, create_time)
    VALUES (#{templateId,jdbcType=INTEGER}, #{templateName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.titian.core.domain.Template" >
    insert into t_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="templateName != null" >
        template_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templateId != null" >
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.titian.core.domain.Template" >
    update t_template
    <set >
      <if test="templateName != null" >
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where template_id = #{templateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.titian.core.domain.Template" >
    UPDATE t_template
    SET template_name = #{templateName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE template_id = #{templateId,jdbcType=INTEGER}
  </update>
</mapper>