<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
       xmlns:sec="http://www.springframework.org/schema/security">
    <!--MVC的ResponseBody输出中文编码设定，防止中文乱码-->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!--设置全局的异常处理-->
    <bean id="exceptionHandler" class="com.titian.cms.exception.ExceptionHandler"/>

    <!--过滤器链设定，注意过滤器的加载顺序-->
    <bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
        <sec:filter-chain-map path-type="ant">
            <sec:filter-chain pattern="/**" filters="globalFilter, characterEncodingFilter"/>
        </sec:filter-chain-map>
    </bean>

    <!--全局过滤器，过滤器加载不同的处理器（实质也是过滤器）-->
    <bean id="globalFilter" class="com.opensoft.common.web.filter.GlobalFilter">
        <!--以后缀名来过滤不走过滤器的请求-->
        <property name="skipSuffixNamePattern" value=".*(css|jpg|png|gif|js|jpeg|bmp)"/>
        <!--加载不同的处理器，注意加载的顺序-->
        <property name="processors">
            <list>
                <bean class="com.opensoft.common.web.filter.processor.ResponseInitializerProcessor"/>
            </list>
        </property>
    </bean>

    <!--编码过滤器-->
    <bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <property name="encoding" value="UTF-8"/>
        <property name="forceEncoding" value="true"/>
    </bean>

    <!--拦截器配置-->
    <!--打开注解驱动-->
    <mvc:annotation-driven/>
</beans>